@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}

.bg-main{
  background-color: #00201a;
}

.bg-green{
  background-color: #20dfbf;
}

.text-green{
  color: #20dfbf;
}

.shadow-costom{
  background-image: radial-gradient(circle at 50% 50%, #20dfbf 0%, transparent 70%)
}